@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Lato&display=swap');

body {
  font-family: sans-serif;
}

.ChocolateBar {
  display: block;
  background-color: rgb(83, 40, 4);
  height: 15px;
}
.VanillaBar {
  display: block;
  background-color: lightgray;
  height: 15px;
}
.StrawberryBar {
  display: block;
  background-color: red;
  height: 15px;
}

header {
  color: #0e3c7e;
  font-family: 'Caveat', cursive;
  font-weight: bold;
}

button {
  color: #0e3c7e;
}

.ad {
  border: 5px solid #222;
  color: #000;
  width: 250px;
  font-family: 'Caveat', cursive;
  font-weight: bold;
}

.light {
  background-color: teal;

}

.dark {
  background-color: #222;
  color: #fff;
  border: 5px solid teal;
}